.ScoreBoard {
  width: 210px;
  padding: 20px;
  border: 2px solid #DDD;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ScoreBoard-titleScore {
  float: right;
}

.ScoreBoard-wordRow {
  color: #000;
}

.ScoreBoard-wordScore {
  float: right;
}

.ScoreBoard-lower {
  border-top: 2px solid #DDD;
}

.ScoreBoard-lowerScore {
  float: right;
}
