.Square {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.Square-button {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: #F0F0F0;
    text-align: center;
    transition: background 0.5s;
    box-shadow: 2px 2px 5px rgba(178, 195, 208, .7);
    outline: 0;
    pointer-events: none;
}
.Square-button.is-clickable {
    background-color: #FFF;
    pointer-events: initial;
}

.Square-button.is-clicked {
    background-color: #208bfc;
    color: #FFF;
}

.Square-button:hover {
    cursor: pointer;
}

.Square-button.is-clicked {
    background-color: #1287ff;
}
